*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
gradle.properties  
local.properties
build.gradle  
gradlew            
settings.gradle
gradle        
gradlew.bat        
SportInAndroid.iml
app/build.gradle  
app/libs  
app/proguard-rules.pro
SportIn/SportIn.iml
SportIn/app/app.iml
SportIn/local.properties
